body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f8f9fa;
    height: 100vh;
}

.sidebar img {
    width: 24px;
    margin-right: 10px;
}

.profile-header img {
    border: 2px solid #ddd;
}

.tweet {
    background-color: #f9f9f9;
    border-radius: 10px;
}

.suggestions {
    background-color: rgb(239, 243, 244);
    border-radius: 10px;
}